<web-app>
    <display-name>PetaScope Implementation</display-name>
    <servlet>
        <servlet-name>wcpsServlet</servlet-name>
        <servlet-class>wcps.server.servlet.WCPSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wcsServlet</servlet-name>
        <servlet-class>wcs.server.servlet.newWcsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wcpsServlet</servlet-name>
        <url-pattern>/wcps/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>wcsServlet</servlet-name>
		<url-pattern>/wcs/</url-pattern>
    </servlet-mapping>
</web-app>
