<!--
web.xml

PetaScope web deployment configuration file. 
This file describes the URL mapping of the various PetaScope services (WCPS,WCS,WCS-T). Note that currently, only WCPS and WCS-T are available.

Need to adapt: Yes
You should change this file to suit your personal preferences, even though it works as provided. 
-->

<web-app>
    <display-name>PetaScope</display-name>
	<!-- WCPS -->
    <servlet>
        <servlet-name>wcpsServlet</servlet-name>
        <servlet-class>wcps.server.servlet.WCPSServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wcpsServlet</servlet-name>
        <url-pattern>/wcps</url-pattern>
    </servlet-mapping>
	<!-- WCS-T -->
    <servlet>
        <servlet-name>wcstServlet</servlet-name>
        <servlet-class>wcst.server.wcstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wcstServlet</servlet-name>
        <url-pattern>/wcst</url-pattern>
    </servlet-mapping>
	<!-- Interface -->
	<servlet>
		<servlet-name>Petascope Interface</servlet-name>
		<servlet-class>webinterface.PetascopeInterface</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>Petascope Interface</servlet-name>
        <url-pattern>/interface</url-pattern>
    </servlet-mapping>
</web-app>
