<!--
* This file is part of rasdaman community.
*
* Rasdaman community is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Rasdaman community is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with rasdaman community.  If not, see <http://www.gnu.org/licenses/>.
*
* Copyright 2003, 2004, 2005, 2006, 2007, 2008, 2009 Peter Baumann /
rasdaman GmbH.
*
* For more information please see <http://www.rasdaman.org>
* or contact Peter Baumann via <baumann@rasdaman.com>.
-->
<html>
	<head>
		<title>WCS Transaction Extension (Jacobs University)</title>
	</head>
<body>

	<h1>WCS-Transaction Extension (Jacobs University)</h1>
	Please enter a Transaction XML request in box below ... <br />

	<h3>Transaction operation</h3>
	<form action="" method="POST">Please enter a WCS Transaction XML request:<br />
		<textarea name="TransactionXML" rows="15" cols="80"></textarea> 	<br />
		<input type="submit" value="Submit" />
	</form>
<br /> <hr />
	
</body>
</html>
