<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>PetaScope project offers WCS, WCPS and WCS-T services.</description>
    <display-name>PetaScope</display-name>
    <context-param>
        <description>Directory containing the configuration files</description>
        <param-name>confDir</param-name>
        <param-value>@confdir@</param-value>
    </context-param>
    <servlet>
        <description>WCS 2.0 Service</description>
        <servlet-name>Wcs2Servlet</servlet-name>
        <servlet-class>petascope.wcs2.Wcs2Servlet</servlet-class>
    </servlet>
    <servlet>
        <description>WCPS Service</description>
        <servlet-name>wcpsServlet</servlet-name>
        <servlet-class>petascope.wcps.server.servlet.WcpsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>WCS-T Service</description>
        <servlet-name>wcstServlet</servlet-name>
        <servlet-class>petascope.wcst.server.servlet.wcstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetaScope Interface</servlet-name>
        <servlet-class>petascope.PetascopeInterface</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WMS Service</description>
        <servlet-name>WmsServlet</servlet-name>
        <servlet-class>petascope.wms.WmsServlet</servlet-class>
        <!--
                [Deprecated] Force WMS init from file and not from database.
        -->
        <!--init-param>
		<param-name>configFile</param-name>
		<param-value>/WEB-INF/foo.cfg</param-value>
        </init-param-->
        <!--
                WMS error messages (EN, DE or FR available.)
        -->
        <init-param>
		<param-name>messageFile</param-name>
		<param-value>/wms-messages/raswms_msgs_en</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetaScope Interface</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wcpsServlet</servlet-name>
        <url-pattern>/wcps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wcstServlet</servlet-name>
        <url-pattern>/wcst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Wcs2Servlet</servlet-name>
        <url-pattern>/wcs2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WmsServlet</servlet-name>
        <url-pattern>/wms</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
