    <swe:field name="{componentName}">
      <swe:Quantity definition="{datatype}">
        <gml:description>{fieldDescr}</gml:description>
        <gml:name>{fieldName}</gml:name>
        <swe:uom code="{code}"/>
        <swe:constraint>
          <swe:AllowedValues>
            {allowedValues}
          </swe:AllowedValues>
        </swe:constraint>
      </swe:Quantity>
    </swe:field>