    <swe:field name="{componentName}">
      <swe:Quantity definition="{datatype}">
        <swe:description>{fieldDescr}</swe:description>
        <swe:uom code="{code}"/>
        <swe:constraint>
          <swe:AllowedValues>
            {allowedValues}
          </swe:AllowedValues>
        </swe:constraint>
      </swe:Quantity>
    </swe:field>