    <gml:origin>
        <gml:Point gml:id="{pointId}" srsName="{srsName}">
            <gml:pos>{originPos}</gml:pos>
        </gml:Point>
    </gml:origin>
    <gml:offsetVector srsName="{srsName}">{offset1}</gml:offsetVector>
    <gml:offsetVector srsName="{srsName}">{offset2}</gml:offsetVector>