<?xml version="1.0" encoding="UTF-8"?>
<wcs:ServiceMetadata xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xmlns:ows='http://www.opengis.net/ows/2.0'
    xmlns:wcs='http://www.opengis.net/wcs/2.0'
    xmlns:gml='http://www.opengis.net/gml/3.2'
    xmlns='http://www.opengis.net/ows/2.0'
    xmlns:xlink='http://www.w3.org/1999/xlink'>
</wcs:ServiceMetadata>
